{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  -------
 GET PRODUCT IMAGES
 /collections/*
  -------
{% endcomment %}
{% for image in product.metafields.products.catalog_images.value %}
  {% if forloop.first %}
    {% assign first = image %}
  {% else %}
    {% assign second = image %}
  {% endif %}
{% endfor %}

<li class="product-card {% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %}">

  <div class="card-wrap">

    <div class="image" onclick="window.location='{{ product.url | within: collection }}';">
      {% if isCollection == true %}

        {% comment %}
        // 4:5 Images
        {% endcomment %}
        {% if product.metafields.products.catalog_images.value != blank %}
          <img 
            width="600"
            height="600"
            class="product-card-image"
            src="{{ first | image_url: width: '1500' }}" 
            data-first="{{ first | image_url: width: '1500' }}"
            data-second="{% if second %}{{ second | image_url: width: 1500 }}{% else %}{{ first | image_url: width: '1500' }}{% endif %}"
            alt="{{ product.featured_image.alt | escape }}"
          />
      
        {% else %}
          
          {% if product.featured_image %}
            <img 
              width="600"
              height="600"
              class="product-card-image"
              src="{{ product.featured_image | image_url: width: 1500 }}" 
              data-first="{{ product.images[0] | image_url: width: 1500 }}"
              {% if product.images[1] %}
                  data-second="{{ product.images[1] | image_url: width: 1500 }}"
              {% endif %}
              alt="{{ product.featured_image.alt | escape }}"
            />
          {% else %}
              {{ 'image' | placeholder_svg_tag }}
          {% endif %}
          
        {% endif %}
      
      {% else %}

        {% if product.featured_image %}
          <img 
            width="600"
            height="600"
            class="product-card-image"
            src="{{ product.featured_image | image_url: width: 1500 }}" 
            data-first="{{ product.images[0] | image_url: width: 1500 }}"
            {% if product.images[1] %}
                data-second="{{ product.images[1] | image_url: width: 1500 }}"
            {% endif %}
            alt="{{ product.featured_image.alt | escape }}"
          />
        {% else %}
            {{ 'image' | placeholder_svg_tag }}
        {% endif %}

      {% endif %}
      

    </div>
    
    <div class="data">
  
      <div class="title">
        <a href="{{ product.url | within: collection }}">
          {{ product.title }}
        </a>
      </div>
  
      <div class="price" id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        {% if product.available %}
          <link itemprop="availability" href="http://schema.org/InStock" />
        {% else %}
          <link itemprop="availability" href="http://schema.org/OutOfStock" />
        {% endif %}
        <p>
          {% assign variant = product.selected_or_first_available_variant %}
          {% if product.compare_at_price > product.price %}
            <span class="product-price on-sale" itemprop="price">{{ variant.price | money_without_trailing_zeros }}</span>
            <s class="product-compare-price">{{ variant.compare_at_price | money_without_trailing_zeros }}</s>
          {% else %}
            <span class="product-price" itemprop="price">{{ variant.price | money_without_trailing_zeros }}</span>
          {% endif %}
        </p>
      </div>
  
    </div>
    
  </div>
  
</li>

<script>
  $('.product-card-image').on('mouseenter', function() {
    if ( $(this).attr('data-second') ) { 
      $(this).attr('src', $(this).attr('data-second'));
    }
  });
  $('.product-card-image').on('mouseleave', function() {
    if ( $(this).attr('data-second') ) {
      $(this).attr('src', $(this).attr('data-first'));
    }
  });
</script>