{{ 'cart--drawer.css' | asset_url | stylesheet_tag }}

<div class="cart-drawer">
  <form action="{{ routes.cart_url }}" method="post">

    <div class="drawer-header">
      <span class="title">{{ 'Cart' | upcase | escape }}</span>
      <span class="close-drawer">{{ 'X' | upcase | escape }}</span>
    </div>

    <div class="cart-icon">
        <a href="{{ routes.cart_url }}" data-ajax-cart-toggle-class-button="js-my-cart-open">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 17 20" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;"><path d="M14.392,4.522l-2.429,-0c-0.081,-1.819 -1.661,-3.294 -3.575,-3.294c-1.913,-0 -3.493,1.472 -3.578,3.294l-2.466,-0l-1.116,14.103l14.321,0l-1.157,-14.103Zm-6.004,-2.553c1.487,0 2.726,1.141 2.808,2.553l-5.615,-0c0.082,-1.412 1.321,-2.553 2.807,-2.553Zm-5.314,3.294l1.732,0l-0,2.442l0.772,0l-0,-2.442l5.621,0l0,2.442l0.772,0l-0,-2.442l1.772,0l1.002,12.621l-12.672,-0l1.001,-12.621Z" style="fill-rule:nonzero;stroke:#000;stroke-width:0.6px;"/></svg>
            <span data-ajax-cart-bind-state="cart.item_count">
                {{ cart.item_count }}
            </span>
        </a>
    </div>

    <div class="cart-items" data-ajax-cart-section>
      {% if cart.empty? %}
        <div class="drawer-empty">
          {{ 'no items in cart' | escape }}
        </div>
      {% else %}
        <ul class="drawer-has-items">
          {% for item in cart.items %}
            {% render 'product-card--cart' item: item, cart: cart, forloop: forloop, price: item.final_line_price %}
          {% endfor %}
        </ul>    
      {% endif %}
    </div>

    <div class="totals">

      <div class="total totals-item">
        <div class="label">
          {{ 'Total' | upcase | escape }}
        </div>
        <div class="total-value value">
          {{ cart.total_price | money_without_trailing_zeros }}
        </div>
      </div>
      
        <div class="tax totals-item">
          <div class="label">
            {{ 'Tax' | upcase | escape }}
          </div>
          <div class="value">
            {% if tax_line.price > 0 %}
              {{ tax_line.rate_percentage }}
            {% else %}
              N/A
            {% endif %}
          </div>
        </div>
      
        <div class="subtotal totals-item">
          <div class="label">
            {{ 'Subtotal' | upcase | escape }}
          </div>
          <div class="subtotal-value value"></div>

        </div>

      <div class="go-to-checkout">
        <button type="submit" name="checkout">{{ 'Check out' | escape | upcase }}</button>
      </div>
    </div>

  </form>
</div>

{% schema %} { "name": "My Cart" } {% endschema %}