<div class="footer-wrapper">
    <div class="top-row">

        <div class="left">

            <div class="tagline">
              <p>{{ section.settings.footer_tagline }}</p>
            </div>

            <ul>
                {% for block in section.blocks %}
                    <li {{ block.shopify_attributes }}>
                       <a href="{{ block.settings.social_network_url }}" title="{{ block.settings.social_network_title }}">
                        {{ block.settings.social_network_title }}
                       </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="right newsletter">
            {% render 'newsletter-signup' %}
        </div>

    </div>

    <div class="bottom-row">
      <a href="/" title="{{ shop.name }}">
        {% if section.settings.footer_logo == empty %}
            <img src="{{ 'bighouse-logo.svg' | asset_url }}" alt="{{ site.title }}" />
        {% else %}
            <img src="{{ section.settings.footer_logo | image_url }}" alt="{{ site.title }}" />
        {% endif %}
      </a>
    </div>
</div>

{% schema %}
    {
      "name": "Footer",
      "tag": "footer",
      "class": "footer",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "footer_logo",
          "label": "Footer Logo"
        },
        {
          "type": "text",
          "id": "footer_tagline",
          "default": "for equity, parity, and creativity.",
          "label": "Footer Tagline"
        }
      ],
      "blocks": [
        {
            "type": "footer_social_links",
            "name": "Social Network",
            "settings": [
                {
                    "type": "text",
                    "id": "social_network_title",
                    "label": "Name"
                },
                {
                    "type": "url",
                    "id": "social_network_url",
                    "label": "Url"
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Navbar",
          "settings": {}
        }
      ],
      "enabled_on": {
        "templates": ["*"],
        "groups": ["footer"]
      }
    }
{% endschema %}