<div class="navbar-wrapper">
    <div class="left">
        <div class="site-logo">
            <a id="logo" href="/">
                {% if section.settings.nav_logo == empty %}
                    {{ 'logo.png' | asset_url | img_tag: shop.name }}
                {% else %}
                    {{ section.settings.nav_logo | img_url | img_tag: shop.name }}
                {% endif %}
            </a>
        </div>
    </div>
    <div class="right">
        <div class="cart-icon">
            <a href="{{ routes.cart_url }}" data-ajax-cart-toggle-class-button="js-my-cart-open">
                {% if section.settings.cart_icon == empty %}
                    <img src="{{ 'cart-icon.svg' | asset_url | image_url }}" />
                {% else %}
                    {{ section.settings.cart_icon | img_url | img_tag: shop.name }}
                {% endif %}

                <span data-ajax-cart-bind-state="cart.item_count">
                    {{ cart.item_count }}
                </span>
            </a>
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Navbar",
      "tag": "header",
      "class": "navbar",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "nav_logo",
          "label": "Navbar Logo"
        },
        {
          "type": "image_picker",
          "id": "cart_icon",
          "label": "Cart Icon"
        }
      ],
      "presets": [
        {
          "name": "Navbar",
          "settings": {}
        }
      ],
      "enabled_on": {
        "templates": ["*"],
        "groups": ["header"]
      }
    }
{% endschema %}
    